h1.page-header 忘记密码
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render 'devise/shared/error'
  .field
    = f.label :email
    = f.email_field :email, autofocus: true, class: "form-control"
  .actions
    = f.submit "发送密码重置邮件", class: "btn btn-info"
