.container-fluid
  .row
    .col-sm-2.sidebar
      ul.nav.nav-sidebar
        li.active = link_to "Tiger"
        li = link_to "Fire"
        li = link_to "Cyber"
        li = link_to "Fiber"
        li = link_to "Diver"
        li = link_to "Viber"
        li = link_to "Jarjar"
    .col-sm-10.col-sm-offset-2.main
      = render 'layouts/alert'
      h1.page-header Dashboard
