@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-sprockets";
@import "bootstrap";

.footer {
  padding: 50px 15px;
  margin-top: 100px;
  background-color: #f7f7f7;
}

.obfuscate {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.devise-page {
  h1 {
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

img.gravatar {
  margin-bottom: 30px;
}

.alert h2 {
  font-size: 18px;
}

.btn-back {
  margin-top: 10px;
  width: 100%;
}

.thumbnail img {
  max-height: 400px;
}

.book-cover {
  max-width: 100%;
}

.book-profile {
  margin-top: 30px;
}

.book-button {
  margin-top: 30px;
  .btn {
    margin-right: 10px;
  }
}

.book-stat {
  margin-top: 30px;
}

// forms

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea {
  height: 160px !important;
}

#error_explanation ul {
  margin: 0 0 10px 0;
}

.field_with_errors {
  @extend .has-error;
  display: inline;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}

.field select {
  width: auto;
}
