<footer class="container-fluid text-muted footer">
  <div class="row">
    <div class="col-xs-4 text-left">
      © 2016 Sun Yaozhu
    </div>
    <div class="col-xs-8 text-right">
      Powered by
      <a href="http://rubyonrails.org">Ruby on Rails</a>
      &
      <a href="http://www.postgresql.org">PostgreSQL</a>
    </div>
  </div>
</footer>
