<% content_for :content do %>
  <%= render 'layouts/alert' %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 devise-page">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
<% end %>
<%= render template: 'layouts/application' %>
